@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  color: #000000;
  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* navigation */
.navigation {
  display: flex;
  margin: 0 auto;
  padding: 0 70px;
  position: relative;
}

.navigation-logo {
  position: absolute;
}

.navigation-list {
  width: 450px;
  margin: 0;
  padding: 0;
  padding-left: 170px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

}

.navigation-user {
  display: flex;
  max-width: 310px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-item {
  padding: 0 16px;
}

.navigation-link {
  display: block;
  padding: 22px 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  position: relative;
}

.navigation-link:hover,
.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-link:active,
.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-link-current::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #756257;
  position: absolute;
  left: 0;
  bottom: 0;

}

.navigation-user-link {
  min-width: 20px;
  display: block;
  padding: 22px 12px;
  text-decoration: none;
  position: relative;
}

.navigation-user-search {
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-favorite {
  background-image: url(../images/icons/favorit.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-button {
  display: inline-block;
  padding: 8px 34px;
  color: #ffffff;
  background-color: #756157;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  margin-left: 20px;
}

.navigation-button:hover,
.navigation-button:focus {
  background-color: #615048;
}

.navigation-button:active {
  color: #FFFFFF4D;
}

.navigation-link-favorite {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  background-color: #7DB54F;
  border-radius: 10px;
  color: #ffffff;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 20px;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: url(../images/background/background.jpg);
  background-color: #82B3D3;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 78px;
}

.welcome-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* advantages */
.welcome-title {
  margin: 0;
  padding: 72px 230px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.welcome-reasons {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-top: 24px;
}

.advantages-title {
  display: block;
  width: 172px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.advantages-title::after {
  content: "";
  height: 2px;
  width: 60px;
  background-color: #0000004D;
  display: block;
  margin: 30px auto 0;
}

.advantages-title-wide::after {
  background-color: #FFFFFF4D;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 90px;
  padding: 0;
  list-style-type: none;
  background-color: #83B3D31F;
}

.advantages-text {
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

.advantages-item-wide {
  color: #ffffff;
  background-color: #82B3D3;
  display: flex;
  width: 100%;
}

.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
}

.advantages-container-light {
  background-color: #83B3D333;
}

/* services */
.services-container {
  width: 505px;
  padding: 64px 348px;
}

.services-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.services-text {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.services-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.services-item {
  padding: 186px 85px 80px;
  width: 400px;
  box-sizing: border-box;
}

.services-home {
  background-image: url(../images/icons/advantage-icon/home.svg);
  background-color: #83B3D31F;
  background-repeat: no-repeat;
  background-position: center top 80px;
}

.services-food {
  background-image: url(../images/icons/advantage-icon/food.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center top 80px;
}

.services-gift {
  background-image: url(../images/icons/advantage-icon/gift.svg);
  background-color: #83B3D31F;
  background-repeat: no-repeat;
  background-position: center top 80px;
}

.services-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.services-description {
  margin: 0;
  margin-top: 30px;
  color: #333333;
  text-align: center;
}

/* search */
.search {
  padding: 97px 304px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.search-text {
  color: #333333;
  margin-top: 0;
  margin-bottom: 52px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.search-link {
  font-size: 20px;
  line-height: 36px;
  padding: 9px 34px;
}

/* subscription */
.subscription {
  text-align: center;
  color: #ffffff;
  background-color: #8daab8;
  background-image: url(../images/background/subscribe-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 96px 258px 104px;
}

.subscription-inner {
  color: #000000;
  background-color: #ffffff;
  padding: 96px 258px 104px;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.subscription-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  padding: 20px 70px;
  margin: 0;
}

.email-form {
  display: flex;
  align-items: center;
  margin-top: 34px;
}

.email-field {
  display: block;
  box-sizing: border-box;
  font: inherit;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  min-width: 452px;
  padding: 15px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  padding: 9px 50px;
  cursor: pointer;
}

/* footer */
.main-footer-container {
  display: flex;
  margin: 0 auto;
  padding: 44px 70px 30px;
}

.social {
  width: 150px;
  margin-right: auto;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: block;
  width: 18px;
  height: 16px;
  padding: 11px 14px;
  color: #83B3D3;
}

.social-link:hover,
.social-link:focus {
  color: #68a2ca;
}

.social-link:active {
  opacity: 0.3;
}

.footer-phone-container {
  width: 332px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-phone:hover,
.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-logo-htmlacademy {
  margin-left: auto;
}

.footer-htmlacademy {
  box-sizing: border-box;
  display: block;
  color: #000000;
}

.footer-htmlacademy:hover,
.footer-htmlacademy:focus {
  color: #756157;
}

.footer-htmlacademy:active {
  opacity: 0.3;
}

/* modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2CC;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  width: 717px;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-sizing: border-box;
}

.modal-close-button {
  width: 52px;
  height: 52px;
  padding: 0;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 52px;
  background-color: #F2F2F2;
  background-image: url(../images/icons/modal/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-date-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 24px auto;
  grid-template-columns: 120px auto;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  row-gap: 6px;
  align-items: center;
  margin-bottom: 21px;
}

.modal-date-input {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal-button {
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 18px 77px;
}

.date {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #F2F2F2;
  background-image: url(../images/icons/modal/calendar.svg);
  background-repeat: no-repeat;
  background-position: center right 20px;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
}

.date:hover {
  background-color: #E6E6E6;
  cursor: pointer;
}

.modal-text {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  grid-column: 2/-2;
  margin-left: 15px;
}

.modal-text-error {
  color: #FF5757;
}

.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  margin-bottom: 48px;
}

.amount-text {
  font: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.amount-text-wrapper {
  display: flex;
  gap: 10px;
  margin-left: 30px;
}

.amount-button {
  display: flex;
}

.button-min::after {
  content: "";
  position: absolute;
  display: block;
  width: 14px;
  height: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url(../images/icons/modal/minus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-max::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  left: 10px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  background-image: url(../images/icons/modal/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-max::after:default {
  opacity: 0.3;
}

.button-min,
.button-max {
  position: relative;
  min-width: 40px;
  min-height: 48px;
  padding: 0;
}

.amount-button-field {
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
}

.count {
  width: 30px;
  font: inherit;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

/* tooltip */
.tooltip-toggle {
  display: block;
  padding: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-image: url(../images/icons/modal/tooltipinfo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #83B3D3;
  border: none;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: block;
}

.tooltip-text {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333333;
  color: #ffffff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 16px 18px 25px 24px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 256px;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text {
  display: block;
}

.tooltip-text::before {
  content: "";
  width: 19px;
  height: 9px;
  background-image: url(../images/icons/modal/triangle.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -9px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* catalog */
.catalog-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* breadcrumbs */
.breadcrumbs {
  display: flex;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  margin-right: 10px;
}


.breadcrumbs-item:not(:first-child)::before {
  content: "";
  display: block;
  width: 8px;
  height: 20px;
  background-image: url(../images/icons/pointer.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto 10px auto 0;
}

.breadcrumbs-link-home {
  background-image: url(../images/icons/breadcrumbs-house.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}


.background-filters {
  background-color: #3F5E72;
  background-image: url(../images/background/filter-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
  color: #ffffff;
}

.fieldset-wrapper {
  display: flex;
  -webkit-column-gap: 70px;
  -moz-column-gap: 70px;
  column-gap: 70px;
  margin-right: auto;
}

.catalog-filters-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filters-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  margin-top: 31px;
  margin-bottom: 0;
  padding: 0;
}

.catalog-filters {
  display: flex;
  margin-top: 41px;
}

.catalog-filters-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
}

.catalog-filters-item {
  line-height: 23px;
  font-weight: 400;
}

/* checkbox+ radio */
.control-input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 13px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover {
  opacity: 0.6;
  cursor: pointer;
}

.control:active {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked {
  background-image: url(../images/icons/tick.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 13px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
}

[type="radio"]:checked::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  position: absolute;
  top: 5px;
  left: 5px;
}

.price-filters {
  margin-right: 70px;
}

.price-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.price-wrapper {
  display: flex;
  gap: 2px;
  margin-bottom: 48px;
}

.button-price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-top: 56px;
}

.price-input {
  width: 143px;
  font: inherit;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.price-input:hover {
  background-color: #E6E6E6;
}

.price-input-max .price-input {
  border-radius: 0 4px 4px 0;
}

.price-input-max,
.price-input-min {
  position: relative;
}

.price-input-min span,
.price-input-max span {
  color: #0000004D;
  font-size: 18px;
  line-height: 23px;
  position: absolute;
  right: 20px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:active {
  color: #FFFFFF4D;
}

.submit-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  padding: 8px 50px;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border: none;
  -ms-grid-column: 2;
  grid-column: 2;
  background-color: transparent;
}

.button-reset:hover {
  opacity: 0.6;
  background-color: transparent;
}

.button-reset:active {
  opacity: 0.3;
  background-color: transparent;
}

.button-reset:disabled {
  opacity: 0.1;
}

/* range */
.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: #ffffff42;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  width: 226px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.toggle-min {
  top: -8px;
  left: 0;
}

/* sorting */
.catalog-hotels-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.select-control {
  min-width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font: inherit;
  padding-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: 260px 20px;
  -ms-grid-row-align: normal;
  align-self: normal;

}

.select-control:hover,
.select-control:focus {
  border-color: #68A2CA;
  cursor: pointer;
}

.select-control:disabled {
  border-color: #0000004D;
  opacity: 0.6;
}


.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.card-list {
  margin: 0;
  padding: 0;
  margin-left: 70px;
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.sorting-card {
  min-width: 47px;
  min-height: 47px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  display: block;
  box-sizing: border-box;
}

.sorting-card:hover,
.sorting-card:active {
  border-color: #000000;
}

.sorting-card-selected {
  background-image: url(../images/icons/filters/table.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000000;
}

.sorting-card-slideshow {
  background-image: url(../images/icons/filters/slideshow.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #E5E5E5;
}

.sorting-card-list {
  background-image: url(../images/icons/filters/list.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #E5E5E5;
}

/* hotel cards */
.hotel-card-list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 20px 340px 20px 340px;
  grid-template-columns: repeat(3, 340px);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 17px;
  margin: 0;
  margin-bottom: 76px;
  padding: 0;
}

.hotel-card-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 20px 140px;
  grid-template-columns: 140px 140px;
  -ms-grid-rows: 212px 16px 1fr;
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.catalog-hotels {
  padding: 48px 70px 60px 70px;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
  grid-column: 1/-1;
  margin: 0;
  padding: 0;
}

.hotel-card-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-column-align: start;
  justify-self: start;
  margin: 0;
}

.hotel-card-title h3 {
  margin: 0;
}

.hotel-card-type {
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.hotel-card-price {
  font-weight: 400;
  color: #333333;
  margin: 0;
  -ms-grid-column-align: end;
  justify-self: end;
}

.stars {
  background-image: url(../images/icons/star.svg);
  background-repeat: space no-repeat;
  margin: auto 0;
  height: 17px;
}

.stars-4 {
  width: 89px;
}

.stars-3 {
  width: 67px;
}

.stars-2 {
  width: 45px;
}

.button-brand {
  background-color: #82B3D3;
  color: #ffffff;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  border: none;
}

.button-brand:hover,
.button-brand:focus {
  background-color: #68A2CA;
  cursor: pointer;
}

.button-brand:active {
  color: #FFFFFF4D;
}

.button-brand:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}


.button-green {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.button-green:hover,
.button-green:focus {
  background-color: #6C9E42;
}

.button-green:active {
  color: #FFFFFF4D;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-align: center;
  padding: 10px 16px;
  margin: 0;
}

/* pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #82B3D3;
  text-align: center;
  line-height: 16px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 12px;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}

.pagination-more {
  background-color: #ffffff;
  color: #000000;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link:not(.pagination-current):hover {
  opacity: 0.6;
}

.pagination-link:not(.pagination-current):active {
  opacity: 0.3;
}
