@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: #000000;
  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* navigation */
.navigation {
  display: flex;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-logo {
  margin-right: 30px;
}


.navigation-list {
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

}

.navigation-user {
  display: flex;
  max-width: 310px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-user-link {
  min-width: 20px;
  min-height: 20px;
  display: block;
  padding: 22px 12px;
  text-decoration: none;
}

.navigation-user-search {
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-favorite {
  background-image: url(../images/icons/favorit.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-button {
  display: inline-block;
  width: 160px;
  padding: 8px 10px;
  color: #ffffff;
  background-color: #756157;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-user-button {
  margin: 22px 0;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-link-favorite {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  background-color: #7DB54F;
  border-radius: 10px;
  color: #ffffff;
  padding: 5px;
  margin: 11px 4px 33px 20px;

}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: url(../images/background/background.jpg), url(../images/flag.png);
  background-color: #000000;
  background-size: cover, contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.welcome-img {
  padding: 67px 371px;
}

/* advantages */
.welcome-title {
  margin-bottom: 25px;
  margin-top: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.welcome-reasons {
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

.welcome-text {
  width: 620px;
  padding: 70px 290px;
}


.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 21px;
  padding: 0;
  list-style-type: none;
  background-color: #83B3D31F;
}



.advantages-text {
  font-weight: 400;
  text-align: center;
}

.advantages-item-wide {
  background-color: #82B3D3;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantages-container {
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
}

.advantages-container-light {
  background-color: #83B3D333;
}

/* services */
.services-container {
  width: 505px;
  padding: 64px 348px;
}

.services-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.services-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.services-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

}

.services-item {
  padding: 81px 85px;
  width: 400px;
}

.services-home {
  background-image: url(../images/icons/advantage-icon/home.svg);
  background-color: #83B3D31F;
  background-repeat: no-repeat;
}

.services-food {
  background-image: url(../images/icons/advantage-icon/food.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.services-gift {
  background-image: url(../images/icons/advantage-icon/gift.svg);
  background-color: #83B3D31F;
  background-repeat: no-repeat;
}



.services-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.services-description {
  font-weight: 400;
  text-align: center;
}

.search {
  padding: 96px 304px;
}

.search-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.search-text {
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.search-link {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.subscription {
  text-align: center;
  color: #000000;
  background-color: #8daab8;
  background-image: url(../images/background/subscribe-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 96px 258px 104px;
}

.subscription-inner {
  color: #000000;
  background-color: #ffffff;
  padding: 96px 258px 104px;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.subscription-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.email-form {
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.main-footer-container {
  display: flex;
  margin: 0 auto;
  padding: 40px 70px 30px;
}

.social {
  width: 150px;
  margin-right: auto;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: block;
  width: 18px;
  height: 16px;
  padding: 12px 15px;
}


.footer-phone-container {
  width: 332px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-logo-htmlacademy {
  margin-left: auto;
}

/* catalog */
.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  color: #ffffff;
  text-decoration: none;

}

.background-filters {
  background-image: url(../images/background/filter-background.jpg);
  background-size: 100%, auto;
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
}

.catalog-filters-group {
  width: 150px;
  margin-right: 70px;
  padding: 0;
}

.catalog-filters {
  display: flex;
}

.catalog-filters-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filters-item {
  line-height: 23px;
  font-weight: 400;
}

.price-filters {
  width: 550px;
}

.price-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.submit-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.hotel-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

/* sorting */

.sorting-container {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

}

.card-list {
  margin-left: auto;
  list-style-type: none;
  display: flex;
}

.card-item {
  width: 48px;
  height: 48px;

}

.catalog-hotels {
  padding: 50px 70px 60px 70px;
}

.catalog-hotels-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-right: auto;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-type {
  font-weight: 400;
  color: #333333;
}

.hotel-card-price {
  font-weight: 400;
  color: #333333;
}

.button-blue {
  background-color: #82B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.hotel-card-rating {
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin-right: 8px;
}

.pagination-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 60px;
  height: 60px;
}

.pagination-current {
  background-color: #F2F2F2;
}
